/* Ta bort standardmarginal och padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'FuturaCustom';
  src: url('fonts/futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --backgroud-color: #fafbff;
  --text-color-blue: #0018a4;
  --text-color-white: #fff;
  --text-color-black: #000;

  --button-color-blue: #0018a4;
  --button-color-magenta: #ccffe2;

  --button-color-light-pink: #ffecea;
  --button-color-pink: #ff6589;

  --border-color-blue: #0018a4;
  --border-color-black: #000;
}

h2::first-letter {
  text-transform: uppercase;
}

/* .dark-mode {
    --bg-color: #121212;
    --text-color: #f5f5f5;
    --primary-color: #1E90FF;
} */

body {
  font-family: 'FuturaCustom', 'Arial', sans-serif;
  background-color: var(--backgroud-color);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto; /* Centrerar innehållet horisontellt */
  padding: 20px;
}

header {
  padding: 30px 0px 30px 0px;
}

ul {
  list-style-type: none;
}

.title {
  color: #0018a4;
  font-size: 40px;
}

.recipe-card {
  border: #000 solid 1px;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filter-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-diets,
.filter-cuisine,
.filter-cooking_time {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  cursor: pointer;
  width: fit-content;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 50px;
  border: 2px solid transparent;
}

.filter-diets button,
.filter-cooking_time button {
  background: var(--button-color-magenta);
  color: var(--text-color-blue);
}

.filter-diets button.active,
.filter-cooking_time button.active {
  color: var(--text-color-white);
  background-color: var(--button-color-blue);
}

.filter-cuisine button {
  background: var(--button-color-light-pink);
  color: var(--text-color-blue);
}

.filter-cuisine button.active {
  background-color: var(--button-color-pink);
  color: var(--text-color-white);
}

.recipes-container {
  padding: 40px 0 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.recipe-card {
  display: flex;
  width: 300px;
  padding: 16px 16px 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  border-radius: 16px;
  border: 2px solid #0018a4;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 24, 164, 0.2);
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #e9e9e9; /* Blå linje */
}

.img-container {
  width: 100%;
  height: 200px;
  background-color: #000;
  overflow: hidden;
}

img {
  height: 100%;
}

.time-and-cuisine {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.time,
.cuisine {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ingredients ul {
  display: flex;
  flex-direction: column;
  gap: 3.5px;
}

@media (min-width: 768px) {
  .filters-container {
    flex-direction: row;
  }

  .recipes-container {
    flex-direction: row;
  }
}
