/* Ta bort standardmarginal och padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'FuturaCustom';
  src: url('fonts/futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FuturaCustom', 'Arial', sans-serif;
}
